# Environnements locaux
.venv
env
.env

# Tests
tests/
*.pytest_cache/

# Fichiers temporaires et logs
*.log
*.tmp
*.pyc
*.pyo
*.pyd
__pycache__/

# Configuration locale
.env
.env.local
.DS_Store

# IDE
.vscode/
.idea/

node_modules