version: "3.9"

services:
  api:
    build:
      context: ..
      dockerfile: docker/api.Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ..:/app
      - models:/models

  inference:
    build:
      context: ..
      dockerfile: docker/inference.Dockerfile
    ports:
      - "8001:8001"
    volumes:
      - ..:/app
      - models:/models

  training:
    build:
      context: ..
      dockerfile: docker/training.Dockerfile
    volumes:
      - ..:/app
      - models:/models

volumes:
  models:
