name: Lint, Format and Test

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12'

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Install dependencies
        run: |
          uv sync

      - name: Lint code
        run: uv run flake8 . --max-line-length=120 --extend-ignore=E203,W391 --exclude=.venv,generator-archi.py

      - name: Format code
        run: uv run black --check .

      - name: Run tests
        run: |
          uv run pytest tests/unit/